
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>Projemizin ilk controllera bağlı layout alanıdır.</div>
</body>
</html>
