
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DERS 4</title>
</head>
<body>
    <div style="background-color:#ff6a00">
        @DateTime.Now.ToShortDateString()
    </div>
    <br />
    <div style="background-color:#ffd800">
        @for (int i = 1; i <= 10; i++)
        {
            @i
            <br />
        }
    </div>
</body>
</html>
