
@{
    Layout = null;
}

<h5>Deneme</h5>
<br />
<div>Burası Deneme Sayfasıdır.</div>

@{ 
    var deger = "<b>Merhaba</b>" + 
        "<p style=\"color: blue; font-weight: bold\">Burası 2.cümle</p>";

}

@Html.Raw(deger)