
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Travel Guide Responsive Widget Template | Home :: w3layouts</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Travel Guide, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup
Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

</head>
<body>
    <div class="main-section">
        <div class="heading">
            <h1>Kişisel Tanıtım Kartı</h1>
        </div>
        <div class="child-main">
            <div class="child-left">
                <img src="~/web/images/side.jpg" alt="image">
            </div>
            <div class="child-right">
                <h3>Fırat Loğoğlu</h3>
                <h5>Bilgisayar Programcısı</h5>
                <ul class="address">
                    <li>
                        <ul class="agileits-address-text ">
                            <li class="agile-it-adress-left"><b>Doğum Tarihi:</b></li>
                            <li><span>:</span>1994</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Telefon</b></li>
                            <li><span>:</span>(+90) 003 003 0052</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Adres</b></li>
                            <li><span>:</span>İstanbul, Türkiye</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Mail Adresi</b></li>
                            <li><span>:</span><a href="mailto:example@mail.com"> info@example.com</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Web Sitemiz</b></li>
                            <li><span>:</span><a href="https://github.com/firatlogoglu">https://github.com/firatlogoglu</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-w3l">
        <p class="agileinfo"> &copy; @DateTime.Now.Year Travel Guide. Tüm hakları saklıdır | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>





</body>
</html>