@using WA_05_CoreDepartman_Revize.Models
@model List<Birim>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Birim</th>
        <th>Detaylar</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Ad</td>
            <td><a href="#" class="btn btn-info">Detaylar</a></td>
            <td><a href="/Birim/BirimGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Birim/BirimSil/@x.ID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Birim/YeniBirim/" class="btn btn-primary">Yeni Birim</a>