
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_TestLayout</title>
</head>
<body>
    Burası Layout
    @RenderBody()
</body>
</html>
