@model WA_04_CoreDepartman.Models.Departman
@{
    ViewData["Title"] = "DepartmanGetir";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Depart", FormMethod.Post))
{
    <b>Departman ID</b>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <button class="btn btn-default" style="background-color:#ebdede; color:black;">Departman Güncelle</button>
}