@model WA_04_CoreDepartman.Models.Departman
@{
    ViewData["Title"] = "YeniDepartman";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<form class="form-group" method="post">
    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
</form>