@model WA_04_CoreDepartman.Models.Departman
@{
    ViewData["Title"] = "YeniDepartman";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.LabelFor(x => x.Ad)
    @Html.TextBoxFor(x => x.Ad)
</form>