@model IEnumerable<WA_03_CoreKitaplik.Models.Kitaplar>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Yazar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.KitapAd</td>
            <td>@x.Yazar</td>
        </tr>
    }
</table>